<!DOCTYPE html>

{% block html_tag %}
<html {% block html_class %}class="no-js" {% endblock %}lang="{{ app.request.locale }}">
{% endblock html_tag %}

{% block head %}
<head>
    <meta charset="{{ _charset }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Symfony Standard{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}">
    {% block favicon %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_style %}
        {# Override this block to add your own files! #}
        {% if app.debug %}
        <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet">
        {% else %}
        <link href="{{ asset('css/app.min.css') }}" type="text/css" rel="stylesheet">
        {% endif %}
    {% endblock head_style %}
    
    {% block schema_org %}
    {# Schema.org markup for Google+
      - Info: https://developers.google.com/structured-data/
      - Validator: https://developers.google.com/structured-data/testing-tool/
    <meta itemprop="name" content="Symfony Standard">
    <meta itemprop="description" content="This is the page description">
    <meta itemprop="image" content="http://www.example.com/image.jpg">#}
    {% endblock schema_org %}
    
    {% block twitter_card %}
    {# Twitter Card data, use only when needed
      - Info: https://dev.twitter.com/cards/overview
      - Validator: https://dev.twitter.com/docs/cards/validation/validator
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@publisher_handle">
    <meta name="twitter:creator" content="@author_handle">
    <meta name="twitter:title" content="Page Title">
    <meta name="twitter:description" content="Page description less than 200 characters">
    <meta name="twitter:image" content="http://www.example.com/image.jpg">#}
    {% endblock twitter_card %}
    
    {% block open_graph %}
    {# Open Graph data, use only when needed
      - Info: https://developers.facebook.com/docs/sharing/best-practices#tags
      - Validator: https://developers.facebook.com/tools/debug
    <meta property="og:title" content="Title Here" />
    <meta property="og:site_name" content="Symfony Standard" />
    <meta property="og:url" content="http://www.example.com/" />
    <meta property="og:description" content="Description Here" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://example.com/image.jpg" /> #}
    {% endblock open_graph %}

    {% block head_script %}
    {# Overwrite this block to add your own js here #}
    {% endblock head_script %}

    {% block head_bottom %}
    {% endblock head_bottom %}
</head>
{% endblock head %}

{% block body_tag %}
<body>
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}
    
    {% block header %}{% endblock header %}
    
    {% block content %}{% endblock content %}
    
    {% block footer_tag_start %}
    <footer>
    {% endblock footer_tag_start %}

    {% block footer %}
    <p>&copy; <a href="http://www.lin3s.com" target="_blank">LIN3S</a> Symfony Standard</p>
    {% endblock footer %}

    {% block footer_tag_end %}
    </footer>
    {% endblock footer_tag_end %}

    {% block cookies %}
        {% include 'component/cookies.html.twig' %}
    {% endblock cookies %}

    {% block body_end_before_js %}
    {% endblock body_end_before_js %}
    
    {% if not app.debug %}
    {# Insert here your Tag Manager, Analytics or whatever you need #}
    {% endif %}

    {% block foot_script %}
    {# Overwrite this block to add your own js here #}
    <script src="{{ asset('js/app.min.js') }}"></script>
    {% endblock foot_script %}
{% endblock body %}

{% block body_end %}
{% endblock body_end %}
</body>
</html>
